#root {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom left, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    position: relative;
}
